# Node
node_modules/
dist/

# .NET
bin/
obj/

# IDE
.vscode/
.vs/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables
.env

# Checkov Reports
checkov_report_final_*.txt